################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SQLite8020/__pycache__/__init__.cpython-37.pyc
